.nav-card {
	padding-left: 0px;
	padding-right: 0px;
}

.nav-tab {
	padding: 0px;
}

.nav-list-item {
	border-left-width: 0px;
	border-right-width: 0px;
}

.nav-list-item:first-child {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

.nav-list-item:last-child {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-width: 0px;
}

th:first-child {
	border-top-left-radius: 0.25rem;
}

th:last-child {
	border-top-right-radius: 0.25rem;
}

.display-panel {
	overflow-y: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 1px;
	/* 抵消table的border，不然会有滚动条出现 */
}

.right-panel {
	flex-flow: column;
	display: flex;
	padding-left: 0px;
	padding-right: 0px;
	background-color: rgba(246, 246, 246, 1);
}

.right-panel>ul {
	border: 0px !important;
	background-color: rgba(240, 240, 240, 1);
}

.catalog-panel {
	background-color: rgba(240, 240, 240, 1);
}

.catalog-group {
	border-width: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.catalog-header {
	padding: 4px;
	background-color: rgba(196, 196, 196, 1);
	border-bottom: 0px;
}

.catalog-header>button {
	font-weight: bold;
	color: #6e6e6e;
}

.catelog-list>div>a {
	background-color: rgba(232, 232, 232, 1);
}

.page-label>a {
	border-top-left-radius: 0rem !important;
	border-top-right-radius: 0rem !important;
	background-color: rgba(224, 224, 224, 1);
}

.close-button {
	float: right;
	background: none;
	border: none;
}

.display-table {
	margin-bottom: 0rem;
}

.field-alert {
	margin-bottom: 0px;
	border-radius: 0px;
}

.field-alert:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	margin-top: 4px;
}

.field-alert:last-child {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	margin-bottom: 4px;
}

.info-title {
	width: 128px;
	border-radius: 0rem;
	border: 0px;
	height: 32px;
	margin-top: 4px;
	padding: 8px;
}

.info-content {
	border-radius: 0rem;
	border: 0px;
	background-color: rgba(247, 247, 247, 1);
	height: 32px;
	margin-top: 4px;
	padding: 8px;
}

.display-table td:not(last-child) {
	border-right: 1px solid #dee2e6;
}

.display-table th:not(last-child) {
	border-right: 1px solid #dee2e6;
}

.display-table td {
	border-bottom: 1px solid #dee2e6;
}

.disabled-link {
	background-color: gainsboro;
	user-select: none;
}

.attr-cell {
	padding: 0px;
	border: 0px;
	height: 16px;
}

.attr-check {
	margin: 6px;
}

#import-table {
	height: 50%;
	overflow-y: auto;
	border-bottom: 1px, rgba(196, 196, 196, 1);
}

#import-list {
	height: 50%;
	overflow-y: auto;
}