<!doctype html>
<html class="h-100">

<head>
  <meta charset="UTF-8">
  <title>Redox</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../res/css/style.css">
  <!-- 引入组件 -->
  <script src="../../node_modules/vue/dist/vue.min.js"></script>
  <script src="../../node_modules/popper.js/dist/popper.min.js"></script>
  <!-- 处理node和jquery的名称冲突 -->
  <!-- https://www.cnblogs.com/suRimn/p/9475597.html -->
  <script>
    window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.js')
    require('../../node_modules/bootstrap/dist/js/bootstrap.min.js')
    const fs = require('fs')
    const path = require('path')
    const process = require('process');
    const cp = require('child_process')
    const {
      remote,
      ipcRenderer
    } = require('electron')
    const {
      Menu,
      MenuItem
    } = remote
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
</head>

<body class="h-100">
  <div class="jumbotron jumbotron-fluid" id="drag" v-if="analysis==null">
    <div class="container">
      <h1 class="display-4">Redox:Executable File Analysis System</h1>
      <p class="lead">请打开一个可执行文件或者将其拖入到窗口中。</p>
    </div>
  </div>
  <div class="container-fluid h-100" id="vue" style="padding-top: 8px;" v-if="analysis!=null">
    <div class="row h-100">
      <div class="accordion col-3 nav-card catalog-panel" id="nav-card">
        <div class="card catalog-group">
          <div class="card-header catalog-header">
            <button class="btn btn-link btn-block text-left mb-0" type="button" data-toggle="collapse"
              data-target="#collapseOne">
              文件概览
            </button>
          </div>
          <div id="collapseOne" class="collapse show">
            <div class="card-body nav-tab catelog-list">
              <div class="list-group">
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list" href="#file-attr"
                  role="tab" v-on:click="show_file_attr">
                  文件属性
                </a>
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list" href="#pe-attr"
                  role="tab" v-on:click="show_pe_attr">
                  映像信息
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card catalog-group">
          <div class="card-header catalog-header">
            <button class="btn btn-link btn-block text-left collapsed mb-0" type="button" data-toggle="collapse"
              data-target="#collapseTwo">
              头部结构
            </button>
          </div>
          <div id="collapseTwo" class="collapse">
            <div class="card-body nav-tab catelog-list">
              <div class="list-group" role="tablist">
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list" href="#dos-header"
                  role="tab" v-on:click="show_dos_header">
                  DOS头部
                </a>
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list" href="#file-header"
                  role="tab" v-on:click="show_file_header">
                  文件头部
                </a>
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list"
                  href="#optional-header" role="tab" v-on:click="show_optional_header">
                  可选头部
                </a>
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list" href="#data-dirs"
                  role="tab" v-on:click="show_data_dirs">
                  数据目录
                </a>
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list" href="#section-table"
                  role="tab" v-on:click="show_section_table">
                  节表头部
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card catalog-group">
          <div class="card-header catalog-header">
            <button class="btn btn-link btn-block text-left collapsed mb-0" type="button" data-toggle="collapse"
              data-target="#collapseThree">
              数据目录
            </button>
          </div>
          <div id="collapseThree" class="collapse">
            <div class="card-body nav-tab catelog-list">
              <div class="list-group" role="tablist">
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list"
                  href="#import-directory" role="tab" v-on:click="show_import_directory">
                  导入目录
                </a>
                <a class="list-group-item list-group-item-action nav-list-item" data-toggle="list"
                  href="#export-directory" id="export-dir-link" role="tab" v-on:click="show_export_directory">
                  导出目录
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 h-100 right-panel">
        <!-- 顶部的导航栏 -->
        <ul class="nav nav-tabs" role="tablist" style="height: 36px;">
          <li class="page-label d-flex flex-row" v-for="(item, index) in panels">
            <a class="nav-link" v-bind:id="item.nav_id_name" data-toggle="tab" v-bind:href="'#'+item.id_name"
              role="tab">{{ item.display_name }}
              <button class="close-button" v-on:click="close_panel(index, $event)">
                <img src="../img/cross.svg" type="image/svg+xml" height="10px" width="10px"></img>
              </button>
            </a>
          </li>
        </ul>

        <div class="tab-content" id="panel-layer" style="flex: 1;">

          <div class="tab-pane fade display-panel h-100" id="file-attr" role="tabpanel" v-if="file_attr!=null">
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">文件路径:</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">
                <a href="#" v-on:click="explore_file(file_attr.name)">{{ file_attr.name }}</a>
              </span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">创建时间:</span>
              </div>
              <span class="form-control info-content"
                id="basic-addon3">{{ system_time(file_attr.creation_time) }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">上次读取时间：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ system_time(file_attr.last_read) }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">上次写入时间：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ system_time(file_attr.last_write) }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">文件大小：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ file_attr.file_size }}KB</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">占用空间：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ file_attr.allocation_size }}KB</span>
            </div>
          </div>

          <div class="tab-pane fade display-panel h-100" id="pe-attr" role="tabpanel" v-if="pe_attr!=null">
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">ISA：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ pe_attr.x64?"AMD64":"X86" }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">映像基址：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ pe_attr.image_base }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">映像大小：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ pe_attr.size_of_image }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">执行入口：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ pe_attr.entry_point }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">文件对齐：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ pe_attr.file_align.value }}</span>
            </div>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text info-title" id="basic-addon3">内存对齐：</span>
              </div>
              <span class="form-control info-content" id="basic-addon3">{{ pe_attr.sec_align.value }}</span>
            </div>
          </div>

          <div class="tab-pane fade display-panel h-100" id="dos-header" role="tabpanel">
            <table class="table  display-table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 30%;">字段名称</th>
                  <th scope="col" style="width: 70%;">字段值</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value, key) in dos_header">
                  <td>{{ key }}</td>
                  <td>{{ value.field_value.toString() }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade display-panel h-100" id="file-header" role="tabpanel" v-if="file_header!=null">
            <table class="table  display-table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 30%;">字段名称</th>
                  <th scope="col" style="width: 70%;">字段值</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Machine</td>
                  <td>{{ `${file_header.Machine.field_value} [${file_header.Machine.additional}]` }}</td>
                </tr>
                <tr>
                  <td>NumberOfSections</td>
                  <td>
                    <a data-toggle="list" href="#section-table" role="tab" v-on:click="show_section_table">
                      {{ `${file_header.NumberOfSections.field_value}` }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>TimeDateStamp</td>
                  <td>
                    {{ `${file_header.TimeDateStamp.field_value} [${system_time(file_header.TimeDateStamp.additional)}]` }}
                  </td>
                </tr>
                <tr>
                  <td>PointerToSymbolTable</td>
                  <td>{{ `${file_header.PointerToSymbolTable.field_value}` }}</td>
                </tr>
                <tr>
                  <td>NumberOfSymbols</td>
                  <td>{{ `${file_header.NumberOfSymbols.field_value}` }}</td>
                </tr>
                <tr>
                  <td>SizeOfOptionalHeader</td>
                  <td>{{ `${file_header.SizeOfOptionalHeader.field_value}` }}</td>
                </tr>
                <tr>
                  <td>Characteristics</td>
                  <td>
                    <div class="btn-group dropright">
                      <button type="button" class="btn dropdown-toggle attr-cell" data-toggle="dropdown">
                        {{ file_header.Characteristics.field_value }}
                      </button>
                      <div class="dropdown-menu">
                        <div class="form-check attr-check" v-for="(item, key) in file_header.Characteristics.attr_list">
                          <input class="form-check-input" type="checkbox" v-bind:disabled="!item.enabled"
                            v-bind:checked="item.enabled">
                          <label class="form-check-label" for="defaultCheck1">
                            {{ item.name }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade display-panel h-100" id="optional-header" role="tabpanel"
            v-if="optional_header!=null">
            <table class="table  display-table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 30%;">字段名称</th>
                  <th scope="col" style="width: 70%;">字段值</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in optional_header.native">
                  <td>{{ item.field_name }}</td>
                  <td>{{ item.field_value.toString() }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade display-panel h-100" id="data-dirs" role="tabpanel" v-if="optional_header!=null">
            <table class="table  display-table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 30%;">目录名</th>
                  <th scope="col" style="width: 40%;">VisualAddress</th>
                  <th scope="col" style="width: 40%;">Size</th>
                </tr>
              </thead>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_EXPORT</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_EXPORT.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_EXPORT.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_IMPORT</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_IMPORT.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_IMPORT.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_RESOURCE</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_RESOURCE.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_RESOURCE.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_EXCEPTION</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_EXCEPTION.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_EXCEPTION.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_SECURITY</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_SECURITY.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_SECURITY.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_BASERELOC</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_BASERELOC.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_BASERELOC.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_DEBUG</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_DEBUG.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_DEBUG.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_ARCHITECTURE</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_ARCHITECTURE.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_ARCHITECTURE.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_GLOBALPTR</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_GLOBALPTR.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_GLOBALPTR.Size.field_value }}</td>
              </tr>
              <tr>
                <td>IMAGE_DIRECTORY_ENTRY_TLS</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_TLS.VirtualAddress.field_value }}</td>
                <td>{{ optional_header.data_dirs.IMAGE_DIRECTORY_ENTRY_TLS.Size.field_value }}</td>
              </tr>
            </table>
          </div>

          <div class="tab-pane fade display-panel h-100" id="section-table" role="tabpanel">
            <table class="table  display-table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 15%;">Name</th>
                  <th scope="col" style="width: 10%;">VirtualSize</th>
                  <th scope="col" style="width: 10%;">VirtualAddress</th>
                  <th scope="col" style="width: 10%;">SizeOfRawData</th>
                  <th scope="col" style="width: 10%;">PointerToRawData</th>
                  <th scope="col" style="width: 10%;">PointerToRelocations</th>
                  <th scope="col" style="width: 10%;">PointerToLinenumbers</th>
                  <th scope="col" style="width: 10%;">NumberOfRelocations</th>
                  <th scope="col" style="width: 10%;">NumberOfLinenumbers</th>
                  <th scope="col" style="width: 10%;">Characteristics</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(section, name) in section_table">
                  <td>{{ section.Name.field_value }}</td>
                  <td>{{ section["Misc.VirtualSize"].field_value }}</td>
                  <td>{{ section.VirtualAddress.field_value }}</td>
                  <td>{{ section.SizeOfRawData.field_value }}</td>
                  <td>{{ section.PointerToRawData.field_value }}</td>
                  <td>{{ section.PointerToRelocations.field_value }}</td>
                  <td>{{ section.PointerToLinenumbers.field_value }}</td>
                  <td>{{ section.NumberOfRelocations.field_value }}</td>
                  <td>{{ section.NumberOfLinenumbers.field_value }}</td>
                  <td>
                    <div class="btn-group dropleft">
                      <button type="button" class="btn dropdown-toggle attr-cell" data-toggle="dropdown">
                        {{ section.Characteristics.field_value }}
                      </button>
                      <div class="dropdown-menu">
                        <div class="form-check attr-check" v-for="(item, key) in section.Characteristics.attr_list">
                          <input class="form-check-input" type="checkbox" v-bind:disabled="!item.enabled"
                            v-bind:checked="item.enabled">
                          <label class="form-check-label" for="defaultCheck1">
                            {{ item.name }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade display-panel h-100" id="import-directory" role="tabpanel"
            v-if="import_directory!=null">
            <div id="import-table">
              <table class="table display-table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ModuleName</th>
                    <th scope="col" style="width: 15%;">OriginalFirstThunk</th>
                    <th scope="col" style="width: 15%;">TimeDateStamp</th>
                    <th scope="col" style="width: 15%;">ForwarderChain</th>
                    <th scope="col" style="width: 15%;">Name</th>
                    <th scope="col" style="width: 15%;">FirstThunk</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(import_entry, index) in import_directory">
                    <td><a href="#" v-on:click="show_import_list(index)">{{ import_entry.ModuleName }}</a> </td>
                    <td>{{ import_entry.OriginalFirstThunk.field_value }}</td>
                    <td>{{ import_entry.TimeDateStamp.field_value }}</td>
                    <td>{{ import_entry.ForwarderChain.field_value }}</td>
                    <td>{{ import_entry.Name.field_value }}</td>
                    <td>{{ import_entry.FirstThunk.field_value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="import-list">
              <table class="table display-table table-hover" v-if="import_thunks!=null">
                <thead>
                  <tr>
                    <th scope="col" style="width: 15%;">导入方式</th>
                    <th scope="col" style="width: 15%;">Ordinal/Hint</th>
                    <th scope="col" style="width: 70%;">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item) in import_thunks.thunk_list">
                    <td>{{ item.kind }}</td>
                    <td>{{ item.kind == "Ordinal"? item.ordinal : item.hint }}</td>
                    <td>{{ item.kind == "Ordinal"? `${import_thunks.import_name}.${item.ordinal}` : item.name  }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane fade display-panel h-100" id="export-directory" role="tabpanel"
            v-if="export_directory!=null">
            <div>
              <div class="alert alert-secondary field-alert">
                导出名:{{ export_directory.name }}</div>
              <div class="alert alert-secondary field-alert">
                MajorVersion:{{ export_directory.native.MajorVersion.field_value }}</div>
              <div class="alert alert-secondary field-alert">
                MinorVersion:{{ export_directory.native.MinorVersion.field_value }}</div>
              <div class="alert alert-secondary field-alert">
                NumberOfFunctions:{{ export_directory.native.NumberOfFunctions.field_value }}</div>
              <div class="alert alert-secondary field-alert">
                NumberOfNames:{{ export_directory.native.NumberOfNames.field_value }}
              </div>
            </div>
            <table class="table  display-table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 15%;">Address</th>
                  <th scope="col" style="width: 15%;">Ordinal</th>
                  <th scope="col" style="width: 15%;">Name</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(export_item, index) in export_directory.items">
                  <td>{{ export_item.Address }} </td>
                  <td>{{ export_item.Ordinal }}</td>
                  <td>{{ export_item.Name }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script>
    //let pecoff = require("C:/Develop/redox-lib/out/debug/redox_proxy").pecoff;
    let pecoff = require("../dll/redox_proxy").pecoff;
    // let file_name = "C:/Users/mswin/Documents/PeopleExperienceHost.exe";
    let file_name = "";

    $('div.display-panel').css("max-height", $("#panel-layer").parent().height() - 42);
    // 设置所有panel的高度防止溢出到窗口外部
    window.onresize = function () {
      $('div.display-panel').css("max-height", $("#panel-layer").parent().height() - 42);
    }

    let vue = new Vue({
      el: '#vue',
      data: {
        analysis: null,
        valid_extensions: new Set([".exe", ".dll", ".sys"]),

        file_attr: null,
        pe_attr: null,
        dos_header: null,
        file_header: null,
        optional_header: null,
        section_table: null,
        import_directory: null,
        export_directory: null,
        import_thunks: null,

        cur_panel: null,
        panels: [],
        panel_map: {}
      },
      methods: {
        explore_file: function (path) {
          cp.exec(`explorer.exe /select,${path}`);
        },
        wrap_timestamp_toString: function (obj) {
          let old_to_String = obj.field_value.toString;
          let system_time = this.system_time;
          obj.field_value.toString = function () {
            return `${old_to_String.apply(obj.field_value)} [${system_time(obj.system_time)}]`;
          }
        },
        wrap_additional_toString: function (obj) {
          let old_to_String = obj.field_value.toString;
          obj.field_value.toString = function () {
            return `${old_to_String.apply(obj.field_value)} [${obj.additional}]`;
          }
        },
        disable_link: function (link) {
          link.removeClass('list-group-item-action');
          link.removeAttr('href');
          link.removeAttr('data-toggle');
          link.addClass('disabled-link');
        },
        open_file: function (file_path) {
          let extension = file_path.slice(file_path.length - 4);
          if (this.valid_extensions.has(extension)) {
            $('#drag').remove();
            document.title = 'Redox - ' + file_path;
            this.analysis = pecoff.create_analysis(file_path);
            this.show_file_attr();
          }
        },
        info_panel: function (id_name, display_name) {
          this.id_name = id_name;
          this.nav_id_name = 'nav-' + id_name;
          this.display_name = display_name;
        },
        add_panel: function (panel) {
          if (!this.panel_map.hasOwnProperty(panel.id_name)) {
            this.panels.push(panel);
            this.panel_map[panel.id_name] = this.panels.length - 1;
          }
        },
        system_time: function (st) {
          return `${st.year}年${st.month}月${st.day}日 ${st.hour}:${st.minute}:${st.second}`;
        },
        show_file_attr: function () {
          this.file_attr = this.analysis.get_file_attr();
          this.add_panel(new this.info_panel('file-attr', '文件信息'));
          setTimeout(() => $('#nav-file-attr').tab('show'), 100);
        },
        show_pe_attr: function () {
          this.pe_attr = this.analysis.get_pe_attr();
          this.add_panel(new this.info_panel('pe-attr', '映像信息'));
          setTimeout(() => $('#nav-pe-attr').tab('show'), 100);
        },
        // 所有show都需要等待一段时间让实际的nav-item被渲染出来，不然是找不到对应的id的
        // FIXME：真的需要这样吗？
        show_dos_header: function () {
          if (this.dos_header == null) {
            this.dos_header = this.analysis.get_dos_header();
          }
          this.add_panel(new this.info_panel('dos-header', 'DOS头'));
          setTimeout(() => $('#nav-dos-header').tab('show'), 100);
        },
        show_file_header: function () {
          if (this.file_header == null) {
            this.file_header = this.analysis.get_file_header();
          }
          this.add_panel(new this.info_panel('file-header', '文件头'));
          setTimeout(() => $('#nav-file-header').tab('show'), 100);
        },
        show_optional_header: function () {
          if (this.optional_header == null) {
            this.optional_header = this.analysis.get_optional_header();
          }
          this.add_panel(new this.info_panel('optional-header', '可选头'));
          setTimeout(() => $('#nav-optional-header').tab('show'), 100);
        },
        show_data_dirs: function () {
          if (this.optional_header == null) {
            this.optional_header = this.analysis.get_optional_header();
          }
          this.add_panel(new this.info_panel('data-dirs', '数据目录'));
          setTimeout(() => $('#nav-data-dirs').tab('show'), 100);
        },
        show_section_table: function () {
          if (this.section_table == null) {
            this.section_table = this.analysis.get_section_table();
          }
          this.add_panel(new this.info_panel('section-table', '节表'));
          setTimeout(() => $('#nav-section-table').tab('show'), 100);
        },
        show_import_directory: function () {
          if (this.import_directory == null) {
            this.import_directory = this.analysis.get_import_directory();
          }
          if (this.import_directory) {
            this.add_panel(new this.info_panel('import-directory', '导入表'));
            this.show_import_list(0);
            setTimeout(() => $('#nav-import-directory').tab('show'), 100);
          } else {
            this.disable_link($('#import-dir-link'));
            $('#import-dir-link').text("导入目录（不存在）");
          }
        },
        show_import_list: function (index) {
          this.import_thunks = this.analysis.get_import_list_by_index(index);
        },
        show_export_directory: function () {
          if (this.export_directory == null) {
            this.export_directory = this.analysis.get_export_directory();
          }
          if (this.export_directory != null) {
            this.add_panel(new this.info_panel('export-directory', '导出表'));
            setTimeout(() => $('#nav-export-directory').tab('show'), 100);
          } else {
            this.disable_link($('#export-dir-link'));
            $('#export-dir-link').text("导出目录（不存在）");
          }
        },
        close_panel: function (index, event) {
          let panel = this.panels[index];
          this.panels.splice(index, 1);
          delete this.panel_map[panel.id_name];
          if (!$('#' + panel.id_name).hasClass("active")) return;

          if (index > 0) {
            setTimeout(() => $('#' + this.panels[index - 1].nav_id_name).tab('show'), 100);
          } else if (this.panels.length != 0) {
            setTimeout(() => $('#' + this.panels[0].nav_id_name).tab('show'), 100);
          } else {
            $('#' + panel.id_name).removeClass("active");
            $('#' + panel.id_name).removeClass("show");
          }

          event.stopImmediatePropagation()
        }
      }
    })

    ipcRenderer.on('message', (event, message) => {
      switch (message.command) {
        case 'show-file-attr':
          vue.show_file_attr();
          break;
        case 'show-pe-attr':
          vue.show_pe_attr();
          break;
        case 'show-dos-header':
          vue.show_dos_header();
          break;
        case 'show-file-header':
          vue.show_file_header();
          break;
        case 'show-optional-header':
          vue.show_optional_header();
          break;
        case 'show-section-table':
          vue.show_section_table();
          break;
        case 'show-import-directory':
          vue.show_import_directory();
          break;
        case 'show-export-directory':
          vue.show_export_directory();
          break;
        case 'show-open-file':
          console.log(message.path)
          vue.open_file(message.path);
          break;
        default:
          break;
      }
    })

    document.getElementById('drag').addEventListener('drop', (event) => {
      file_name = event.dataTransfer.files[0].path;
      vue.open_file(file_name);
    })

    document.getElementById('drag').addEventListener('dragover', (e) => {
      e.preventDefault();
    })
  </script>
</body>

</html>